PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hq_prospectiva2050
CORS_ORIGINS=http://localhost
# VARIANTE HOST-BASED (descomentar para usar): CORS_ORIGINS=http://localhost,http://backoffice.localhost
DB_SYNCHRONIZE=true
JWT_SECRET=<CAMBIAR_ESTE_SECRET>
UPLOAD_DIR=uploads
