PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_USER=hq_app
DB_PASSWORD=<CAMBIAR_ESTE_PASSWORD>
DB_NAME=hq_prospectiva2050
CORS_ORIGINS=https://prospectivaquindio2050.com
DB_SYNCHRONIZE=false

UPLOAD_DIR=uploads
JWT_SECRET=<CAMBIAR_ESTE_SECRET>
UPLOAD_DIR=uploads
